<h1>Template driven</h1>

<form>
  <div class="flex-container">
    <label for="email">Username or Email</label>
    <input
      id="email"
      name="email"
      type="email"
      placeholder="myemail@mail.com"
    />
  </div>

  <div class="flex-container">
    <label for="password">Password</label>
    <input
      id="password"
      name="password"
      type="password"
      placeholder="enter your password"
    />
  </div>

  <button id="login-btn">Log in</button>

  <div class="forgot-password">
    <a href="#">Forgot your password?</a>
  </div>
</form>
